<web-app>
    <!-- Declare servlet -->
    <servlet>
        <servlet-name>servlet1</servlet-name>
        <servlet-class>FirstServlet</servlet-class>
    </servlet>

    <!-- Map servlet to URL -->
    <servlet-mapping>
        <servlet-name>servlet1</servlet-name>
        <url-pattern>/servlet1</url-pattern>
    </servlet-mapping>

</web-app>
