/* External CSS file */ 
body { 
    background-color: #20000b; 
    font-family: Verdana, sans-serif; 
} 
 
h1 { 
    color: rgb(50, 50, 67); 
    text-align: center; 
} 
 
p { 
    color: #ffffff; 
    font-size: 16px; 
}